textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.bootstrap-select .dropdown-toggle:focus,
.dropzone:focus,
.btn:focus,
.select2-selection:focus {
  box-shadow: none !important;
  outline: none !important;
}

body {
  background-color: #f5f6f8;

  /* Support for all WebKit browsers. */
  /* -webkit-font-smoothing: antialiased; */

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  color: #5a6169;
}

.help-block {
  color: #c4183c;
  display: block;
  font-size: 85%;
  margin-top: .40rem;
}

.bg-primary-dark {
  background-color: #21232e;
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  font-size: 19px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.droppable-item {
  margin: 20px 0;
}

.drop-hover {
  background-color: green;
}

.sortable-placeholder {
  background-color: blue;
}

// Draggable

.draggable-container--over {
  background-color: #ccc;
}

.draggable--over {
  background-color: #4e4 !important;
}

.draggable-mirror {
  z-index: 9999;
}

// interactjs

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.draggable {
  touch-action: none;
  user-select: none;
}

.dropzone {
  // background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  cursor: grab;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 15px 0;
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

// Custom 

.table {
  color: #5a6169;
}

.columns-table {
  color: #495057;
  border-top: 0;
}

.columns-table thead th {
  border-bottom: 1px;
}

.datepicker {
  border-radius: 0.25rem;
}

.btn-group > .btn, .btn-group-vertical {
  flex: 0 1 auto;
}

.note-card-body {
  padding: 10px;
}

.note-card-text{
  margin-bottom: 10px;
}

.vote-badge {
  font-size: 12px;
}

// Bootsrap select

.color-select {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 10%;
  margin-right: 5px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.2);
}

.blue {
  background-color: #007bff;
  color: #fff;
}

.grey {
  background-color: #5a6169;
  color: #fff;
}

.green {
  background-color: #17c671;
  color: #212529;
}

.red {
  background-color: #c4183c;
  color: #fff;
}

.yellow {
  background-color: #ffb400;
  color: #212529;
}

.light-blue {
  background-color: #00b8d8;
  color: #fff;
}

.black {
  background-color: #212529;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #3d5170;
}

.royal-blue {
  background-color: #674eec;
  color: #fff;
}

.java {
  background-color: #1adba2;
  color: #212529;
}

.salmon {
  background-color: #ff4169;
  color: #fff;
}

.select2 {
  margin-right: 10px;
}

.group-notes {
  position: relative;
  margin-bottom: 22px;
}

.lower-note {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  &:nth-of-type(1) {
    top: 5px;
    z-index: -1;
    width: 92%;
  }
  &:nth-of-type(2) {
    top: 9px;
    z-index: -2;
    width: 85%;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.1); // more subtle
  }
  border-radius: 0.625rem;
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.grouped-note {
  margin-bottom: 15px;
}

.note-modal-container {
  width: 400px;
}

#note_content {
 width: 330px;
 height: 100px;
 font-size: 14px;
}

.discussion-modal {
  min-width: 100%;
  margin: 0;
  min-height: 100vh;
  z-index: 1071;
}

.discussion-modal .discussion-modal-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.discussion-container {
  background-color: #f5f6f8;
  height: calc(100vh - 60px);
}

.carousel-notes {
  box-shadow: none;
  width: 400px;
  margin: auto;
}

.carousel-card-note {
  width: 380px;
  height: 400px;
  box-shadow: none;
}

.carousel-card-content {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.list-group-item {
  font-weight: 400;
}

.badge-note-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
}

.badge-note-votes {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.slider ul{
  list-style: none;
  position: relative;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider .slide:target {
	z-index: 100;
}
